
.navbarHeader{
    display:flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    height: fit-content;
    max-height: 110px;
    padding:1px;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 200;
    box-shadow: 0px 5px 8px -8px rgba(0,0,0,0.5) ;   
}

.Ulogoclass > img{
    height:10vh;
    width:15vw;
    margin-right: 30px;
}

.navIcons{
    display:flex;
    margin-right: 20px;
}

.allnavIcon > .MuiSvgIcon-root{
    color: gray;
    cursor:pointer;
    display:inline;
    font-size: xx-large;
    padding: 5px 20px;
}

.allnavIcon :hover{
    color:#ffcd03;
    background-color: rgb(240, 240, 240) ;
    border-radius: 10px;
}

.allnavIcon :active{
    color:#ffcd03;
    background-color: rgb(240, 240, 240) ;
    border-radius: 10px;
}



.inputclass{
    display:flex;
    align-items:center;
    border : 1px solid #ffcc00;
    border-radius:6px;
    padding: 3px;
    font-size: larger;
    margin-left:15px;
    margin-right:15px;
}

.inputclass>input{
   background-color: transparent;
   outline:none;
   border:none;
   color:rgb(49,49,49);

}

.inputclass>.MuiSvgIcon-root{
    color:gray;
    font-size: xx-large;
}

.detail{

    display:flex;
    align-items: center;
    margin: left 25px;

}

button{
    border-radius: 20px;
	border: 1px solid #e6b905;
	background: linear-gradient(to right,#ffcc00, #a08001);
	color: #080707;
	font-size: 12px;
	font-weight: bold;
	padding: 11px 30px;
    right:0;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 85ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.addQuestion{
    align-items: center;
    justify-content: center;
    margin-left:15px;
    margin-right:15px;
}


button.user{
    align-items: center;
    justify-content: center;
    margin-left:15px;
    margin-right:15px;
}

.modal_header {
    margin-top: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(187, 187, 187, 0.5);
  }
  
  .modal_header > h5 {
    color: gray;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    margin-right: 30px;
  }
  
  .modal_header > h5:hover {
    color: #f90900;
  }
  
  .modal_user {
    display: flex;
    align-items: center;
    margin-top: 28px;
  }
  
  .modal_user > p {
    margin-left: 10px;
    font-size: medium;
    color: gray;
  }

  .inputfield {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 30px;
  }
  
  .inputfield > .model_link {
    color: gray;
    display: flex;
    align-items: center;
    margin-top: 25px;
  }
  
  .inputfield > input {
    margin-left: 5px;
    flex: 1;
    outline: none;
    border: none;
  } 
  
  .modal_button {
    display: flex;
    right:0;
    align-items: center;
    border-top: 1px solid lightgray;
    margin-top: 135px;
    margin-right: -20px;
  }
  
  .modal__buttons >.cancle_button {
    margin-left: auto;
    margin-top: 5px;
    margin-right: 10px;
    border: none;
    outline: none;
    color: gray;
    cursor: pointer;
    font-weight: 500;
    padding: 10px;
    border-radius: 33px;
  }


  .modal__buttons >.submit_button {
    margin-top: 10px;
    margin-right: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    padding: 10px; 
    border-radius: 33px;
  }