/* body{
    background-color:beige;
     padding-top: 110px !important; 
     scroll-padding-top: 110px !important;
}
/* .navclass{
    margin-bottom: 50px ;
} */ */

.qandA_body{
    margin-top: 230px !important;
     justify-content: center; 
}