:root{
    --background-color: white  ;
    --bg-hover : lightgrey;
    --search-bg : lightgrey;
    --text-color: black;
    --text2-color: grey;

    --default-bg: white;
    --default-bg1: lightgrey;
    --default-color: black;
    --LoginRightPage-font: white;

    


}

